*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}


html,
body{
    background-color: #1b1b32;
}


.contenedor-logo{
    display: flex;
    justify-content: center;
}


.app{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
